<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AddJuego</display-name>
    <servlet-name>AddJuego</servlet-name>
    <servlet-class>ar.cac.abm.servlet.AddJuego</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJuego</servlet-name>
    <url-pattern>/AddJuego</url-pattern>
  </servlet-mapping>
  <display-name>VentaJuegos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DelJuego</display-name>
    <servlet-name>DelJuego</servlet-name>
    <servlet-class>ar.cac.abm.servlet.DelJuego</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelJuego</servlet-name>
    <url-pattern>/DelJuego</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActJuego</display-name>
    <servlet-name>ActJuego</servlet-name>
    <servlet-class>ar.cac.abm.servlet.ActJuego</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActJuego</servlet-name>
    <url-pattern>/ActJuego</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaJuegosJson</display-name>
    <servlet-name>ListaJuegosJson</servlet-name>
    <servlet-class>ar.cac.abm.servlet.ListaJuegosJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaJuegosJson</servlet-name>
    <url-pattern>/ListaJuegosJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>ar.cac.abm.servlet.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>ar.cac.abm.servlet.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
</web-app>